__pycache__/
/stuff/
dataset.pkl
/*.code-workspace
Data/*.pkl
Data/*.txt
Data/*.csv
/dumps/
/old_dumps/
/old_outs/
/finetune/
/pdfs/
/outs/
/*.pth
/*.png
/*.out
/*.err
/plots/
/wandb/
/computed-branches/
craft_dumps*/
/fact/loftup/
/fact/crp/
/fact/craft
/dino_viz/
/*.pdf
.vscode